#show_order
%h3 Order Pickup
%p= @order.date.strftime("Order Date: %A %B %d, %Y")
%p= @order.name
%p= @order.pickup
%p= @order.pickuptime.strftime("Pickup Time: %r %A %B %d, %Y")

#deliveries
  %h3 Delivery

  = render @order.deliveries

%h3 Add Delivery

= render "deliveries/form"

= link_to "Back", root_path
|
= link_to "Edit", edit_order_path(@order)
|
= link_to "Delete", order_path(@order), method: :delete, data: {confirm: "Are you sure you want to remove this order?"}


